.container {
  display: flex;
  margin: 20px 30px;
}

.recent-scores {
  margin-right: 100px;
}

.refresh-scores {
  display: flex;
  justify-content: space-between;
}

.refresh-scores h2 {
  margin: 0 50px 0 0;
}

#scores-display {
  margin-top: 25px;
  border: 1px solid black;
}

#scores-display div {
  padding: 5px;
}

#scores-display div:nth-of-type(2n) {
  background-color: lightgray;
}

.add-scores h2 {
  margin: 0 0 25px 0;
}

.input-scores {
  display: flex;
  flex-direction: column;
}

.input-scores input {
  width: 250px;
  height: 30px;
  font-size: 15px;
}

.input-scores input:nth-of-type(2) {
  margin-top: 20px;
}

.input-scores input[type="submit"] {
  margin-top: 20px;
  width: 25%;
  align-self: flex-end;
}

.add-score {
  margin-left: 5rem;
}

.box-area {
  border-style: solid;
  margin-top: 20px;
}

#scores {
  margin: 10px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}
